@import '../helpers/helpers'

.page-breadcrumbs
	margin-top: 8px
	&-list
		display: flex
		flex-wrap: wrap
		align-items: center
		> li
			display: inline-flex
			align-items: center
			font-size: 14px
			line-height: 1.5
			&:not(:last-child)
				&::after
					content: ''
					width: 12px
					height: 12px
					margin: -2px 12px 0
					background: url('../images/symbol-yellow.svg') no-repeat center/contain
			> span
				color: $text
