.btn, button
	display: inline-flex
	align-items: center
	padding: 26px 52px
	border-radius: 0
	border: 2px solid $purple
	color: $purple
	font-family: inherit
	font-size: 15px
	font-weight: $w-bold
	line-height: 1
	text-align: center
	text-transform: lowercase
	white-space: nowrap
	outline: none!important
	user-select: none
	transition: $trs
	&:hover
		color: inherit
