@import '../helpers/helpers'

// Text colors
.text-purple
	color: $purple
.text-yellow
	color: $yellow
.text-white
	color: $white
.text-dark
	color: $dark
.text-main
	color: $text

// Font Weights
.w-book
	font-weight: 300
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-bold
	font-weight: 700
