.section
	position: relative

	&-heading
		.suptitle
			margin-bottom: 0
			color: #B2B2B2
			font-family: $font-secondary
			font-size: 14px
			font-weight: $w-book
			line-height: 1.75
			text-transform: lowercase
		.title
			margin-bottom: 0
			font-size: 48px
			line-height: 1.3
		.description
			margin-top: 24px
			margin-bottom: 0
		.btn
			margin-top: 32px
	&-description
		padding-top: 24px
		> p:last-child
			margin-bottom: 0
