.page-calculator

	// Section: Calculator
	.calculator
		&-section
			padding: 48px 64px
			border: 1px solid $border
			background-color: #FAFAFA
			+media-breakpoint-down(xxl)
				padding: 48px
			+media-breakpoint-down(lg)
				padding: 32px
			+media-breakpoint-down(sm)
				padding: 24px
			&:not(:last-child)
				margin-bottom: 32px
			&-main
				background-color: $purple
				.heading
					&-title,
					&-descr
						color: $white
			.heading
				&-title
					margin-bottom: 0
					+media-breakpoint-down(lg)
						font-size: 24px
					+media-breakpoint-down(md)
						font-size: 20px
				&-descr
					margin-top: 16px
					+media-breakpoint-down(md)
						font-size: 14px
					> p:last-child
						margin-bottom: 0

			// Options
			.options
				display: flex
				flex-wrap: wrap
				margin-top: 32px
				+media-breakpoint-down(md)
					margin-top: 24px
				&-check
					flex: 0 0 33.33333%
					position: relative
					z-index: 1
					display: flex
					max-width: 33.33333%
					padding-right: 24px
					cursor: pointer
					+media-breakpoint-down(lg)
						flex-basis: 50%
						max-width: 50%
						font-size: 15px
					+media-breakpoint-down(sm)
						flex-basis: 100%
						max-width: 100%
						padding-right: 0
						&:not(:last-child)
							margin-bottom: 12px
					&-input
						overflow: hidden
						position: absolute
						width: 1px
						height: 1px
						clip-path: rect(0 0 0 0)
						opacity: 0
						&:active + .options-check-box
							box-shadow: 0 0 0 3px rgba($purple, 0.15)
						&:checked + .options-check-box
							border-color: $purple
							background: $purple url('../images/checked.svg') no-repeat center/16px
					&-box
						flex: 0 0 auto
						align-self: center
						width: 24px
						height: 24px
						margin-right: 12px
						border: 1px solid $border
						background-color: $white
						transition: border $trs, box-shadow $trs, background-color $trs
				&-check_inline
					flex: 0 0 50%
					position: relative
					z-index: 1
					display: flex
					align-items: center
					max-width: 50%
					margin-left: -1px
					padding: 16px
					color: $white
					font-family: $font-secondary
					font-size: 14px
					font-weight: $w-regular
					cursor: pointer
					+media-breakpoint-down(md)
						flex-basis: 100%
						max-width: 100%
						margin-left: 0
						margin-bottom: -1px
					&:active
						z-index: 2
					&-input
						overflow: hidden
						position: absolute
						width: 1px
						height: 1px
						clip-path: rect(0 0 0 0)
						opacity: 0
						&:active + .options-check_inline-box
							box-shadow: 0 0 0 4px rgba($white, 0.15)
							background-color: $trsp
						&:hover + .options-check_inline-box
							background-color: rgba($white, 0.1)
						&:checked 
							+ .options-check_inline-box
								border-color: $yellow
								background-color: $yellow
								+ .options-check_inline-text
									color: $dark
					&-box
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						z-index: -1
						border: 1px solid #8471b5
						background-color: $trsp
						transition: $trs

			// Additional field
			.additional
				margin-top: 48px
				&-title
					margin-bottom: 0
					font-size: 18px
				&-descr
					margin-top: 8px
					margin-bottom: 0
					+media-breakpoint-down(md)
						font-size: 14px
				&-field
					max-width: 480px
					margin-top: 24px
					margin-bottom: 0
					&::placeholder
						opacity: 0.5

		// Total
		&-total
			position: relative
			z-index: 1
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 32px
			padding: 48px 64px
			background-color: $yellow
			+media-breakpoint-down(xxl)
				padding: 48px
			+media-breakpoint-down(lg)
				padding: 32px
			+media-breakpoint-down(md)
				flex-direction: column
				align-items: flex-start
				justify-content: flex-start
			+media-breakpoint-down(sm)
				padding: 24px
			&::before
				pointer-events: none
				user-select: none
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: -1
				background-image: url('../images/pattern-purple.svg')
				opacity: 0.1
			&-content
				flex: 0 0 auto
				padding-right: 48px
				+media-breakpoint-down(md)
					margin-bottom: 8px
					padding-right: 0
				.title
					margin-bottom: 0
				.descr
					margin-top: 12px
					margin-bottom: 0
					+media-breakpoint-down(md)
						font-size: 14px
			&-summary
				flex: 0 1 auto
				display: flex
				align-items: flex-end
				.prefix
					margin-right: 12px
				.value
					word-break: break-all
				.currency
					margin-left: 12px
					white-space: nowrap

		// Apply form
		&-apply-form
			margin-top: 32px
			&-wrapper
				margin-top: 32px
